@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #0B0F19;
    color: #E5E7EB;
    font-family: var(--font-inter);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #6366F1 transparent;
}

a {
    @apply transition-colors duration-200;
}